<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование информации об авторе</title>
	<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" >
    <style>
    </style>
</head>
<body>

<form id="author-edit-form" th:object="${authorDto}" th:action="@{/authors/edit/{id}(id=${authorDto.id})}" th:method="post" action="author_all.html">
	<div>
	    <h1>Информация об авторе:</h1>
	
	    <div class="row">
	        <label for="id-input">ИД:</label>
	        <input id="id-input" type="text" readonly="readonly" th:value="*{id}" value="1"/>
	    </div>
	
	    <div class="row">
	        <label for="surname-input">Фамилия:</label>
	        <input id="surname-input" name="surname" type="text" th:value="*{surname}" value=""/>
		</div>	
		
		<div class="row">	
	        <label for="firstname-input">Имя:</label>
	        <input id="firstname-input" name="firstname" type="text" th:value="*{firstname}" value=""/>
		</div>	
		
		<div class="row">	
	        <label for="middlename-input">Отчество:</label>
	        <input id="middlename-input" name="middlename" type="text" th:value="*{middlename}" value=""/>				
	    </div>
	
	    <div class="row">
	        <button type="submit">Сохранить</button>
	    </div>
	</div>	    
</form>

</body>
</html>