<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование информации о жанре</title>
	<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" >
    <style>
    </style>
</head>
<body>

<form id="genre-edit-form" th:action="@{/genres/edit/{id}(id=${genre.id})}" th:method="post" action="genre_all.html">
	<div th:object="${genre}">
	    <h1>Информация о жанре:</h1>
	
	    <div class="row">
	        <label for="id-input">ИД:</label>
	        <input id="id-input" type="text" readonly="readonly" th:value="*{id}" value="1"/>
	    </div>
	
	    <div class="row">
	        <label for="name-input">Наименование:</label>
	        <input id="name-input" name="name" type="text" th:value="*{name}" value="Test genre"/>
	    </div>
	
	    <div class="row">
	        <button type="submit">Сохранить</button>
	    </div>
	</div>	    
</form>

</body>
</html>
